.banner {
    background: #741626;
    padding: .5em;
    margin: 0 auto;
    width: 100%;
}

.bannerLogo {
    width: 120px;
    float: left;
    padding-right: 1em;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    color: #FFFF00;
    height: 1px;
}

.imgright {
    margin-left: 2.5em;
}

.navButton {
}

.navButton a {
    background-color: #e8e8e8;
    color:  #741626;
}

.InputContainer {
    width: 420px;
    margin-left: auto ;
    margin-top: 1em;
    margin-bottom: auto;
    margin-right: auto;
}

.footerText {
    font-size: .8em;
    text-align: center;
}

.OuterContainer {
    max-width: 900px;
}
