.ResultsContainer {
    margin-left: auto ;
    margin-bottom: auto;
    margin-right: auto;
    padding-left: 1em;
}

.resultBox {
    word-wrap:break-word;
    vertical-align: top;
}

.resultBox:hover {
    background: #CCFFCC;


}

.resultRow {
    background: #f9f9f9;

}

.resultRow:hover {
    outline: thin solid black;
}

.resultTable {
    padding:1px;

}

.tableHeader {
    background: #e4e4e4;
    color: #741626;
    font-weight:bold;
    margin-bottom: 0.1em;
    margin-top: .5em;
    font-size: .8em;
}

.paginationContent {
}