<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body ng-app="app">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="banner">
            <img src="img/pm.gif">
            <img class="imgright" src="img/bd.gif">
        </div>
        <br>
        <div class="inputbox" ng-controller="promptCtrl">
            <p class="promptext">Enter a pattern:</p>

            <span ng-repeat="i in patt">
                <input type="text" class="patterninput" ng-model="i.val" placeholder="[EN]TE[R].A.[PA]TTE[RN]{2,4}">
            </span>

            <a href="#" class="promptext">Examples</a>
            <br>
            <button type="button" ng-click="addPatt()" disabled>add another</button>
            <button type="button" ng-click="clear()">clear</button>


            <p class="promptext2">Select database:</p>
            <input type="radio" name="group2" value="uniprot" disabled> UniprotKB
            <br>
            <input type="radio" name="group2" value="ncbibact" checked="checked"> NCBI Bacteria and Virus
            <br>
            <button type="button" ng-click="search()">search</button>
        </div>
        <div class="resultcontainer" ng-controller="resCtrl" ng-show="results">
            <div class="resultheader">
                <span class="promptext">Results:</span>
                <br>
                <img src="img/excel.gif" class="exceldl">
                <a href="#">Download CSV</a>
            </div>
            <div class="results">
                <table>
                    <tr>
                        <td class="tablecol">
                            Organism
                        </td>
                        <td class="tablecol">
                            Description
                        </td>
                        <td class="tablecol">
                            Match
                        </td>
                        <td class="tablecol">
                            Length
                        </td>
                        <td class="tablecol">
                            Database
                        </td>
                    </tr>
                    <tr ng-repeat="result in results.res">
                        <td class="tablecol">
                            {{result.org}}
                        </td>
                        <td class="tablecol">
                            {{result.desc}}
                        </td>
                        <td class="tablecol">
                            {{matchRng(result.seq,results.query)}}
                        </td>
                        <td class="tablecol">
                            {{result.seq.length}}
                        </td>
                        <td class="tablecol">
                            {{result.db}}
                        </td>
                    </tr>
                </table>
                <p class="pagination">
                    <-- < | 1 | 2 | 3 | 4 | > -->
                </p>
            </div>
        </div>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>



    </body>
</html>
